.flex-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
}

.flex-column {
  flex-direction: column;
}

.flex-row.center {
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
